*.war
*~

/coverage/*
/db/db_*
/public/stylesheets/*.css

/java/bin/*
/java/build/dist.jar
/java/build/adapt-201*.jar
/java/build/appname.txt
/java/.manager/*
/log/*
/tmp/*
/assets/*
/config/roles.properties

/rerun.txt
/.sass-cache/*
