/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/
/* line 37, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt {
  padding-bottom: 20px;
}
/* line 41, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt ul {
  margin-right: 3em;
}
/* line 45, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt p {
  max-width: 40em;
}
/* line 50, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .box {
  border: 1px solid #aaaaaa;
  background-color: #f8f8f8;
  float: left;
  padding: 1em;
}
/* line 58, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .clear {
  margin: 0;
  padding: 0;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 69, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset {
  padding-top: 0;
}
/* line 72, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset p {
  padding: 0.25em 0;
  text-align: justify;
}
/* line 75, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset p em {
  font-style: italic;
}
/* line 79, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset .inline-errors {
  color: red;
}
/* line 82, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li {
  overflow: visible;
  margin-bottom: 1em;
  margin-top: -0.5em;
  padding: 0.5em 0;
  margin-left: 0;
}
/* line 89, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li label {
  display: block;
  float: none;
  font-style: italic;
  padding-right: 1em;
  padding-top: 0.2em;
}
/* line 95, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li label abbr {
  color: red;
}
/* line 99, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li p.inline-errors {
  color: red;
}
/* line 104, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.string input, #adapt form.formtastic fieldset ol li.string textarea, #adapt form.formtastic fieldset ol li.text input, #adapt form.formtastic fieldset ol li.text textarea {
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  background-color: #f0f0f0;
  font-family: monospace;
}
/* line 111, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.string input.dirty, #adapt form.formtastic fieldset ol li.string textarea.dirty, #adapt form.formtastic fieldset ol li.text input.dirty, #adapt form.formtastic fieldset ol li.text textarea.dirty {
  background-color: #e8e8ff;
}
/* line 114, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.string input, #adapt form.formtastic fieldset ol li.string input[size], #adapt form.formtastic fieldset ol li.string textarea, #adapt form.formtastic fieldset ol li.string textarea[cols], #adapt form.formtastic fieldset ol li.text input, #adapt form.formtastic fieldset ol li.text input[size], #adapt form.formtastic fieldset ol li.text textarea, #adapt form.formtastic fieldset ol li.text textarea[cols] {
  max-width: inherit;
}
/* line 117, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.string textarea, #adapt form.formtastic fieldset ol li.text textarea {
  overflow: auto;
}
/* line 120, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.string input, #adapt form.formtastic fieldset ol li.text input {
  overflow: hidden;
}
/* line 125, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.boolean input, #adapt form.formtastic fieldset table td.boolean input {
  margin-top: 0.2em;
}
/* line 128, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.boolean input.dirty, #adapt form.formtastic fieldset table td.boolean input.dirty {
  outline: 1px solid rgba(0, 0, 255, 0.5);
}
/* line 131, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset ol li.boolean label, #adapt form.formtastic fieldset table td.boolean label {
  padding-left: 0;
  padding-right: 0;
}
/* line 138, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table {
  width: auto;
  margin: 1em 0;
  border: none;
}
/* line 142, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table thead th {
  background-color: inherit;
}
/* line 145, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table tbody tr {
  border: 1px solid gray;
}
/* line 148, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table th {
  padding: 3px 8px;
  font-weight: normal;
  font-style: italic;
}
/* line 153, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table td {
  padding: 0 8px;
}
/* line 156, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table td.text, #adapt form.formtastic fieldset table td.string {
  border: solid gray 1px;
  background-color: #f0f0f0;
}
/* line 159, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table td.text input, #adapt form.formtastic fieldset table td.text textarea, #adapt form.formtastic fieldset table td.string input, #adapt form.formtastic fieldset table td.string textarea {
  border: none;
  background-color: #f0f0f0;
  font-family: monospace;
  margin: 0;
}
/* line 166, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table td.text {
  padding: 5px;
}
/* line 169, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table td.string {
  padding: 1px 0 0 0;
}
/* line 172, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table td.dirty {
  background-color: #e8e8ff;
}
/* line 174, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table td.dirty input, #adapt form.formtastic fieldset table td.dirty textarea {
  background-color: #e8e8ff;
}
/* line 178, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset table p.inline-errors {
  padding: 0;
  margin: 0;
}
/* line 184, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.with-table {
  margin-bottom: 1em;
  overflow: visible;
}
/* line 187, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.with-table th {
  padding-left: 0;
}
/* line 190, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.with-table ol li {
  margin: -1px 0 0 0;
  padding: 0;
}
/* line 193, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.with-table ol li label, #adapt form.formtastic fieldset.with-table ol li input {
  margin: 0;
  display: block;
  float: none;
  width: inherit;
  text-align: left;
}
/* line 203, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.inline {
  padding-top: 0pt;
}
/* line 206, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.inline ol li {
  display: inline;
  float: left;
  clear: none;
}
/* line 210, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.inline ol li label, #adapt form.formtastic fieldset.inline ol li input, #adapt form.formtastic fieldset.inline ol li p {
  width: auto;
  display: inline;
  float: left;
}
/* line 215, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.inline ol li p.inline-errors {
  margin: 0;
}
/* line 218, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.inline ol li input {
  margin-right: 1em;
}
/* line 226, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.inline ol li.boolean input {
  margin-right: 0.5em;
}
/* line 229, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.inline ol li.boolean label {
  margin-right: 2em;
}
/* line 235, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.buttons {
  margin-top: 0;
}
/* line 237, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt form.formtastic fieldset.buttons li {
  margin-bottom: 0;
}
/* line 244, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .properties ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0.6em 2em;
}
/* line 249, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .properties ul li {
  position: relative;
  left: 13em;
  margin: 0;
  margin-right: 13em;
  padding: 0.4em 0 0 0;
  max-width: 35em;
}
/* line 256, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .properties ul li dfn {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: -13em;
  width: 13em;
  float: left;
  color: #222222;
  font-weight: bolder;
  font-style: normal;
}
/* line 267, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .properties ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 271, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .properties ul li ul li {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0.2em 0 0 0;
}
/* line 283, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt table {
  margin: 0;
  padding: 0;
  empty-cells: show;
  border: 1px solid;
  border-collapse: collapse;
  border-color: black;
  line-height: 135%;
  text-align: center;
  width: 100%;
}
/* line 294, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt table th {
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: #f0f0f0;
  padding: 5px 12px;
  vertical-align: middle;
  font-weight: bold;
}
/* line 303, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt table td {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #aaaaaa;
  background-color: #ffffff;
  padding: 5px 12px;
  vertical-align: middle;
  font-weight: normal;
}
/* line 311, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt table td p {
  margin: 0;
  text-align: left;
}
/* line 319, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
}
/* line 324, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container fieldset.tab {
  position: relative;
  clear: both;
  border: 1px solid #aaaaaa;
  padding: 2em 3em;
  overflow: auto;
  margin-bottom: 5px;
}
/* line 332, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 337, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry {
  float: left;
  margin: 0 -1px -1px 0;
}
/* line 340, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a {
  float: left;
  display: block;
  position: relative;
  width: 10em;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  padding: 0;
  border: solid #aaaaaa 1px;
  background: #eeeeee;
  color: black;
  z-index: 1;
}
/* line 354, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a span {
  display: block;
  margin: -1px;
  padding: 3px 6px;
  background: no-repeat right top;
  background-image: url(../images/corner-eee.png);
}
/* line 362, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a:hover {
  background: #888888;
  color: white;
}
/* line 365, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a:hover span {
  background-image: url(../images/corner-888.png);
}
/* line 369, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab {
  background: #ffffcc;
  border-bottom-color: #ffffcc;
}
/* line 372, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab span {
  background-image: url(../images/corner-ffc.png);
}
/* line 376, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab:hover {
  background: #f4ee99;
  border-bottom-color: #f4ee99;
  color: black;
}
/* line 380, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab:hover span {
  background-image: url(../images/corner-f4ee99.png);
}
/* line 384, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.error, #adapt .tab-container ul.tab-index li.tab-entry a.error:hover {
  color: red;
}

/* line 394, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt-overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  width: 100%;
  z-index: 100;
}
/* line 406, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt-overlay .blanket {
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  position: absolute;
  width: 100%;
}
/* line 416, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt-overlay .dialog {
  position: relative;
  margin: 200px auto;
  width: 250px;
  padding: 30px 80px;
  font-size: 120%;
  background-color: #ffffcc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 3px 3px 4px #404040;
  -webkit-box-shadow: 3px 3px 4px #404040;
  box-shadow: 3px 3px 4px #404040;
  border: solid 1px #cccc66;
}
/* line 426, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt-overlay .dialog .busy-indicator {
  position: absolute;
  left: 30px;
  bottom: 25px;
  width: 32px;
  height: 32px;
  background: url(../assets/ajax-loader.gif) no-repeat right;
}

/* line 438, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt-tooltip {
  width: 20em;
  background-color: #ffffcc;
  padding: 2px;
  border: 1px solid #cccccc;
  text-align: left;
  z-index: 10;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 3px gray;
  -webkit-box-shadow: 2px 2px 3px gray;
  box-shadow: 2px 2px 3px gray;
}

/* line 450, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-choices, #adapt form.formtastic fieldset.adapt-choices {
  display: block;
  background: white;
  margin-top: 2em;
}
/* line 454, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-choices ol, #adapt form.formtastic fieldset.adapt-choices ol {
  border: 1px solid #404040;
}
/* line 457, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-choices legend, #adapt form.formtastic fieldset.adapt-choices legend {
  font-weight: bold;
}
/* line 460, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-choices li, #adapt form.formtastic fieldset.adapt-choices li {
  list-style: none;
  margin: 0;
  padding: 2px 0.5em;
  border-bottom: 1px solid #e0e0e0;
}
/* line 466, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-choices li:last-child, #adapt form.formtastic fieldset.adapt-choices li:last-child {
  border-bottom: none;
}

/* line 471, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-pulldown {
  margin-top: 0;
  margin-left: -1px;
  border: none;
  -moz-box-shadow: 3px 3px 4px gray;
  -webkit-box-shadow: 3px 3px 4px gray;
  box-shadow: 3px 3px 4px gray;
}
/* line 476, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-pulldown legend {
  display: none;
}
/* line 479, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-pulldown ol {
  max-height: 200px;
  overflow: auto;
  padding-left: 0;
}
/* line 484, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.adapt-pulldown li:hover {
  background-color: #ffffcc;
}

/* line 490, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
header .login {
  position: relative;
}

/* line 494, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
article {
  padding-left: 0;
}

/* line 498, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
section.main {
  margin-left: 40px;
}

/* line 502, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.flash-notice, .flash-error, .flash-alert {
  position: absolute;
  right: 40px;
  padding: 5px 8px;
}

/* line 508, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.flash-notice {
  background-color: #ffffcc;
  border: solid 1px #cccc66;
}

/* line 513, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.flash-error, .flash-alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* line 519, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
.formtastic #enter_button, .formtastic #register_button, .formtastic #logout_button, .formtastic #profile_button {
  text-decoration: none;
}

/* line 524, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt {
  float: left;
  background: none;
  padding-bottom: 0;
}
/* line 529, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container fieldset.tab {
  border-bottom-width: 2px;
  margin-bottom: 12px;
}
/* line 534, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry {
  margin-right: 0;
}
/* line 536, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a {
  color: white;
  background: #333;
  border-color: #333;
  border-right-color: #aaa;
  border-width: 1px 1px 0 1px;
}
/* line 542, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a span {
  background-image: none;
}
/* line 546, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a:hover {
  color: white;
  background: black;
  border-color: black;
  border-right-color: #aaa;
}
/* line 551, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a:hover span {
  background-image: none;
}
/* line 555, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab {
  color: black;
  background: white;
  border-color: white;
  border-top-color: #aaa;
}
/* line 560, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab span {
  background-image: none;
}
/* line 564, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab:hover {
  color: black;
  background: #e8e8e8;
  border-color: #e8e8e8;
  border-top-color: #aaa;
}
/* line 569, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a.current-tab:hover span {
  background-image: none;
}
/* line 573, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry a {
  outline: none;
}
/* line 578, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry:first-child a.current-tab, #adapt .tab-container ul.tab-index li.tab-entry:first-child a.current-tab:hover {
  border-left-color: #aaa;
}
/* line 583, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry:last-child a {
  border-right-color: #333;
}
/* line 586, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry:last-child a:hover {
  border-right-color: black;
}
/* line 589, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt .tab-container ul.tab-index li.tab-entry:last-child a.current-tab, #adapt .tab-container ul.tab-index li.tab-entry:last-child a.current-tab:hover {
  border-right-color: #aaa;
}
/* line 594, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt p {
  text-align: justify;
  margin: 0;
}
/* line 599, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt em {
  font-style: italic;
}
/* line 601, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt em em {
  font-style: normal;
}
/* line 606, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt strong {
  font-weight: bolder;
}
/* line 610, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt ul, #adapt ol {
  padding-left: 0;
}
/* line 614, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt ul li:last-child {
  padding-bottom: 0;
}
/* line 618, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt li {
  list-style: inherit;
  margin-top: 0.3em;
  margin-left: 3em;
}
/* line 624, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt dt {
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}
/* line 629, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt dd {
  margin-left: 3em;
}
/* line 633, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt hr {
  height: 0;
  border: none;
  border-bottom: 1px solid gray;
  margin-right: 20%;
  padding-top: 1em;
}
/* line 641, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt dfn {
  font-style: italic;
}
/* line 645, /home/olaf/Rails/adapt/app/assets/stylesheets/adapt.css.scss */
#adapt tt {
  font-family: courier;
}
