@import "adapt";

.flash-notice, .flash-error, .flash-alert {
    position: absolute;
    right: 40px;
    padding: 5px 8px;
}

.flash-notice {
    background-color: $highlight_color;
    border: solid 1px #cccc66;
}

.flash-error, .flash-alert {
    background-color: #ffcccc;
    border: solid 1px #cc6666;
}

#adapt {
    float: left;
    background: none;
    padding-bottom: 0;

    .tab-container fieldset.tab {
	border-bottom-width: 2px;
	margin-bottom: 12px;
    }

    .tab-container ul.tab-index li.tab-entry {
	margin-right: 0;
	a {
	    color: white;
	    background: #333;
	    border-color: #333;
	    border-right-color: #aaa;
	    border-width: 1px 1px 0 1px;
	    span {
		background-image: none;
	    }
	}
	a:hover {
	    color: white;
	    background: black;
	    border-color: black;
	    border-right-color: #aaa;
	    span {
		background-image: none;
	    }
	}
	a.current-tab {
	    color: black;
	    background: white;
	    border-color: white;
	    border-top-color: #aaa;
	    span {
		background-image: none;
	    }
	}
	a.current-tab:hover {
	    color: black;
	    background: #e8e8e8;
	    border-color: #e8e8e8;
	    border-top-color: #aaa;
	    span {
		background-image: none;
	    }
	}
	a {
	    outline: none;
	}
    }
    .tab-container ul.tab-index li.tab-entry:first-child {
	a.current-tab, a.current-tab:hover {
	    border-left-color: #aaa;
	}
    }
    .tab-container ul.tab-index li.tab-entry:last-child {
	a {
	    border-right-color: #333;
	}
	a:hover {
	    border-right-color: black;
	}
	a.current-tab, a.current-tab:hover {
	    border-right-color: #aaa;
	}
    }

    p {
	text-align: justify;
	margin: 0;
    }

    em {
	font-style: italic;
	em {
	    font-style: normal;
	}
    }

    strong {
	font-weight: bolder;
    }

    ul, ol {
	padding-left: 0;
    }

    ul li:last-child {
	padding-bottom: 0;
    }

    li {
	list-style: inherit;
	margin-top: 0.3em;
	margin-left: $list_indent;
    }

    dt {
	font-weight: bold;
	margin: 1em 0 0.5em 0;
    }

    dd {
	margin-left: $list_indent;
    }

    hr {
	height: 0;
	border: none;
	border-bottom: 1px solid gray;
	margin-right: 20%;
	padding-top: 1em;
    }

    dfn {
	font-style: italic;
    }

    tt {
	font-family: courier;
    }
}
