@import reset

!primary_color = #994779
!link_color = !primary_color
!signal_color = red

p
  :margin 0.5em 0

em
  :font
    :style italic

strong
  :font
    :weight bolder

small
  :font
    :size smaller

big
  :font
    :size larger

li
  :margin 0.3em 3em
  ul
    :list
      :style circle

ul
  :list
    :style disc

dt
  :font
    :weight bold
  :margin 1em 0 0.5em 0

dd
  :margin
    :left 1em

blockquote
  :margin 0.3em 3em

sup
  :font
    :size smaller
  :position relative
  :bottom 0.5em

sub
  :font
    :size smaller
  :position relative
  :bottom -0.5em

body
  :font
    :family Verdana, Arial, Helvetica, sans-serif
    :size 10pt

#top
  :overflow hidden

#main
  :width 80%
  :float left
  :margin
    :bottom -2000px
  :padding
    :bottom 2000px
  :overflow hidden
  :display block

#header
  :height 65px
  :padding
    :right 12px
  :background
    :color white
  :text
    :align center
  :color = !primary_color
  :font
    :family Arial, Verdana, Helvetica, sans-serif
    :size 160%
    :weight bold
  img
    :margin
      :bottom -2px
    :float left
  img.logo
    :padding
      :top 8px
    :float right
  div
    :float right
    :margin
      :top 30px
      :right 150px

#divider
  :position relative
  :height 10px
  :background url(../images/matrixRule.jpg)
    :color = !primary_color

#content
  :margin 0
  :padding 0 20px
  :background url(../images/house.jpg) no-repeat right bottom
  :border
    :bottom 1px solid
      :color = !primary_color

#page
  :padding
    :bottom 20px
  p
    :max-width 40em

#navigation
  :width 20%
  :float left
  :margin
    :bottom -2000px
  :padding
    :bottom 2000px
  :overflow hidden
  :display block
  :background url(../images/matrixRule.jpg)
    :color = !primary_color
  ul
    :list
      :style none
  li
    :border 1px solid white
    :padding 3px 6px
    :margin
      :top 5px
    a
      :color white
      :text
        :decoration none
        :transform uppercase
      :font
        :family Arial, Verdana, Helvetica, sans-serif
        :weight bolder
      :display block
      :width 100%
  li:hover
    :color = !primary_color
    :background
      :color white
    a
      :color = !primary_color
  img
    :float right
    :margin
      :right 0
      :top 0

#footer
  :padding 10px
  :text
    :align center
  img
    :float right

h1, h2, h3
  :font
    :family Arial, Verdana, Helvetica, sans-serif
    :weight bolder
  :float clear

h1
  :font
    :size 140%
  :margin
    :top 1.2em
    :bottom 0.8em

h2
  :font
    :size 125%
  :margin
    :top 0.9em
    :bottom 0.6em

h3
  :font
    :size 110%
  :margin
    :top 0.6em
    :bottom 0.4em

a
  :color = !link_color
  img
    :border none

hr
  :height 1px
  :width 80%
  :border none
  :margin
    :top 1.5em
  :background
    :color = gray

dfn
  :font
    :style italic

tt
  :font
    :family courier

del
  :text
    :decoration line-through
  :color #800000

ins
  :text
    :decoration none
  :background
    :color lightgreen

.clear
  :content "."
  :display block
  :height 0
  :clear both
  :visibility hidden

#flash_notice,
#flash_error
  :width 75%
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background
    :color #FFC
  :border solid 1px #CC6

#flash_error
  :background
    :color #FCC
  :border solid 1px #C66

form div
  :margin 1em 0

.row .form-field
  :display block
  :float left
  :margin
    :right 2em

label
  :font
    :style italic

.input
  :float left

.required
  :padding
    :left 1ex
  :color = !signal_color

.formError
  :padding
    :left 1em
  :color = !signal_color

.fieldWithErrors
  input
    :border
      :style solid
      :color = !signal_color

#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
    :bottom 12px
  :margin
    :bottom 20px
  :background
    :color #f0f0f0
  h2
    :text
      :align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background
      :color #c00
    :color #fff
  p
    :color #333
    :margin
      :bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font
        :size 12px
      :list
        :style disc
