@import reset

!primary_color = #994779
!link_color = !primary_color
!signal_color = red

p
  :margin 0.5em 0

em
  :font-style italic

strong
  :font-weight bolder

small
  :font-size smaller

big
  :font-size larger

li
  :margin 0.3em 3em
  ul
    :list-style circle

ul
  :list-style disc

dt
  :font-weight bold
  :margin 1em 0 0.5em 0

dd
  :margin-left 1em

blockquote
  :margin 0.3em 3em

sup
  :font-size smaller
  :position relative
  :bottom 0.5em

sub
  :font-size smaller
  :position relative
  :bottom -0.5em

body
  :background url(../images/matrixRule.jpg)
    :color = !primary_color
  :font
    :family Arial, Helvetica, sans-serif
    :size 10pt

#header
  :text
    :align center
  :color = !primary_color
  :font
    :size 160%
    :weight bold
  img
    :float right
  div
    :float right
    :margin 20px 150px 20px 0px

h1, h2, h3
  :font
    :weight bolder
  :float clear

h1
  :font
    :size 140%
  :margin
    :top 1.2em
    :bottom 0.8em

h2
  :font
    :size 130%
  :margin
    :top 0.9em
    :bottom 0.6em

h3
  :font
    :size 130%
  :margin
    :top 0.6em
    :bottom 0.4em

a
  :color = !link_color
  img
    :border none

hr
  :height 1px
  :border none
  :margin
    :top 1.5em
  :background
    :color = !primary_color

dfn
  :font-style italic

tt
  :font-family courier

del
  :text-decoration line-through
  :color #800000

ins
  :text-decoration none
  :background-color lightgreen

.clear
  :content "."
  :display block
  :height 0
  :clear both
  :visibility hidden

#container
  :width 75%
  :margin 0 auto
  :background #fff
  :padding 20px 40px
  :border solid 1px black
  :margin-top 20px

#flash_notice,
#flash_error
  :width 75%
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background
    :color #FFC
  :border solid 1px #CC6

#flash_error
  :background
    :color #FCC
  :border solid 1px #C66

.input
  :float left

.required
  :padding
    :left 1ex
  :color = !signal_color

.formError
  :padding
    :left 1em
  :color = !signal_color

.fieldWithErrors
  input
    :border
      :style solid
      :color = !signal_color

#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
    :bottom 12px
  :margin
    :bottom 20px
  :background
    :color #f0f0f0
  h2
    :text
      :align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background
      :color #c00
    :color #fff
  p
    :color #333
    :margin
      :bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font
        :size 12px
      :list
        :style disc

#user-nav
  :float right
