@import "adapt-definitions";
@import "reset";
@import "basics";
@import "layout";
@import "flash";
@import "formtastic";

@import "adapt";

body {
    min-width: 720px;
    font: {
	family: Arial, Helvetica, Verdana, sans-serif;
	size: 10pt;
    }
}

a {
    color: $link_color;
    img {
	border: none;
    }
}

a:hover {
    color: $link_color + #333333;
}
