@import "adapt/adapt-definitions";
@import "reset";
@import "basics";
@import "layout";
@import "flash";
@import "formtastic";

@import "adapt/adapt";

body {
    min-width: 720px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
    color: $link_color;
    img {
	border: none;
    }
}

a:hover {
    color: $link_color + #333333;
}
