@import "adapt-definitions";

p {
  padding: 0.25em 0;
  text-align: justify; }

.indented p {
  margin: 0;
  text-indent: 1em; }

em {
  font: {
    style: italic; };
  em {
    font: {
      style: normal; }; } }

strong {
  font: {
    weight: bolder; }; }

small {
  font: {
    size: smaller; }; }

big {
  font: {
    size: larger; }; }

ul {
  list: {
    style: disc; }; }

li {
  margin: {
    top: 0.3em;
    left: $list_indent; };
  ul {
    list: {
      style: circle; }; } }

dt {
  font: {
    weight: bold; };
  margin: 1em 0 0.5em 0; }

dd {
  margin: {
    left: $list_indent; }; }

blockquote {
  margin: 0.3em 3em; }

sup {
  font: {
    size: smaller; };
  position: relative;
  bottom: 0.5em; }

sub {
  font: {
    size: smaller; };
  position: relative;
  bottom: -0.5em; }

h1, h2, h3 {
  font: {
    weight: bolder; };
  float: clear; }

h1 {
  font-size: 18px;
  margin: {
    top: 1.2em;
    bottom: 0.8em; }; }

h2 {
  font-size: 15px;
  margin: {
    top: 0.9em;
    bottom: 0.6em; }; }

h3 {
  font-size: 13px;
  margin: {
    top: 0.6em;
    bottom: 0.4em; }; }

hr {
  height: 0;
  border: none {
    bottom: 1px solid gray; };
  margin: 0 {
    right: 20%; };
  padding: 0 {
    top: 1em; }; }

dfn {
  font: {
    style: italic; }; }

tt {
  font: {
    family: courier; }; }

del {
  text: {
    decoration: line-through; };
  color: maroon; }

ins {
  text: {
    decoration: none; };
  background: {
    color: lightgreen; }; }
