@import "definitions";

.choices {
  display:    block;
  background: white;
  border:     1px solid #aaa;
  ol {
    max-height: 200px;
    overflow:   auto;
  }
  li {
    margin: 0;
    padding: 1px;
  }
}

.pulldown {
  position: fixed;
  legend {
    display: none;
  }
}
