@import "definitions";

#overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  width: 100%;
  z-index: 100;
  .dialog {
    position: relative;
    margin: 200px auto;
    width: 150px;
    padding: 30px 80px;
    font: {
      size: 120%; };
    background: {
      color: $highlight_color; };
    @include rounded(10px);
    @include shadowed(3px, 4px, #404040);
    border: solid 1px #cccc66;
    .busy-indicator {
      position: absolute;
      left: 30px;
      bottom: 25px;
      width: 32px;
      height: 32px;
      background: url("/images/ajax-loader.gif") no-repeat right; } } }

#blanket {
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  @include opaque(0.2);
  position: absolute;
  width: 100%; }
