@import definitions

form
  div
    :margin 0
    :padding 0
      :bottom 1em
  h3
    :padding 0
      :bottom 1.5em
  p, hr
    :clear both

label
  :font-style italic

label
  :padding-right 1em

div > label
  :padding
    :right 0
    :bottom 2px
  :display block

label em, label .error
  :color = !signal_color

input[type=text],textarea
  :border 1px solid gray
  :padding 2px
  :margin 0
  :background-color #F0F0F0
  :font
    :size 95%
    :family monospace

input[type=text]:hover,textarea:hover
  :background-color #FAFAFA

input[type=text]:focus,textarea:focus
  :background-color #FAFAFA

select
  :border 1px solid gray
  option:hover
    :background-color #F0F0F0

div.form-field
  :display inline
  :float left
  :padding-right 2em

select.predefined
  :display none

*:focus + select.predefined, select.predefined:focus
  :display block
  :position absolute

form table
  :width auto
  :margin 1em 0
  :border none
  tbody tr
    :border 1px solid gray
  th
    :background-color inherit
    :padding 3px 8px
    :font
      :size 90%
      :weight normal
      :style italic
  td
    :padding 0 8px
  input[type=text], textarea
    :margin 0
    :border-width 0 1px
    :display block

.input-table
  :font-size 100%
  :margin 0
  thead
    :font-size 90%
  th,td
    :padding 0
    :margin 0
    :background none
  th
    :border none
    :font-weight normal
  td
    :border 1px solid gray
  input, textarea
    :border none
    :margin 0
    :display block
