@import definitions

form
  div
    :margin 0
    :padding 0
      :bottom 1em
  h3
    :padding 0
      :bottom 1.5em

.form-field .row
  :margin 0
  :padding 0
    :left 1em

.row .form-field
  :display block
  :float left
  :margin 0
  :padding
    :right 2em

.form-field .input
  :float left

.fieldWithErrors
  :margin 0
  :padding 0
  :border 1px solid
    :color = !signal_color

label
  :font-style italic
  :padding-right 1em

label em, label .error
  :color = !signal_color

input[type=text],textarea
  :border 1px solid gray
  :background-color #F0F0F0

input[type=text]:hover,textarea:hover
  :background-color #FAFAFA

input[type=text]:focus,textarea:focus
  :background-color #FAFAFA

select
  :border 1px solid gray
  option:hover
    :background-color #F0F0F0
