@import "definitions";

form.formtastic fieldset {
    p {
	padding: 0.25em 0;
	text-align: justify;
	em {
            font-style: italic;
	}
    }
    .inline-errors {
	color: $signal_color;
    }
    ol li {
	overflow: visible;

	label {
	    display: block;
            float: none;
            font-style: italic;
            padding-right: 1em;
	    padding-top: 0.2em;
            abbr {
		color: $signal_color;
	    }
	}
	p.inline-errors {
            color: $signal_color;
	}
    }
    ol li.string, ol li.text {
	input,textarea {
            border: 1px solid gray;
            padding: 2px;
            margin: 0;
            background-color: #f0f0f0;
            font-family: monospace;
	    font-size: 95%;
	}
	input.dirty,textarea.dirty {
            background-color: #f0f0ff;
            border-color: blue;
	}
	input[size], textarea[cols] {
            max-width: 100%;
	}
	textarea {
	    overflow: auto;
	}
	input {
	    overflow: hidden;
	}
    }
    ol li.boolean, table td.boolean {
	input {
	    margin-top: 0.2em;
	}
	input.dirty {
            outline: 1px solid rgba(0, 0, 255, 0.5);
	}
	label {
	    padding-left: 0;
	    padding-right: 0;
	}
    }
    table {
	td.text, td.string {
	    input, textarea {
		border: 1px solid gray;
		padding: 2px;
		background-color: #f0f0f0;
		font-family: monospace;
		font-size: 105%;
		margin: -1px 0 -2px;
	    }
	    input.dirty, textarea.dirty {
		background-color: #f0f0ff;
		border-color: blue;
	    }
	}
	p.inline-errors {
            padding: 0;
            margin: 0;
	}
    }
}

form.formtastic fieldset.repeatable {
    margin-bottom: 1em;
    overflow: visible;
    ol li {
	margin: -1px 0 0 0;
	padding: 0;
    }
}

form.formtastic {
    fieldset.inline, fieldset.tabular {
	ol li {
	    display: inline;
	    float: left;
	    label, input, p {
		width: auto;
		display: inline;
		float: left;
	    }
	    p.inline-errors {
		margin: 0;
	    }
	    input {
		margin-right: 1em;
	    }
	}
    }
}

form.formtastic fieldset.inline {
    ol li.boolean {
	input {
	    margin-right: 0.5em;
	}
	label {
	    margin-right: 2em;
	}
    }
}

form.formtastic fieldset.tabular {
    ol li {
	margin: -1px -1px 0 0;
	padding: 0;
	label {
            display: none;
	}
	input, p {
            margin: 0;
	}
	p.inline-errors {
            width: auto;
            clear: both;
            float: none;
	}
    }
}

form.formtastic fieldset.tabular:first-child {
    ol li {
	label, input {
            margin: 0;
            display: block;
            float: none;
	}
    }
}

form.formtastic table {
    width: auto;
    margin: 1em 0;
    border: none;
    tbody tr {
	border: 1px solid gray;
    }
    th {
	background-color: inherit;
	padding: 3px 8px;
	font: {
	    size: 90%;
	    weight: normal;
	    style: italic;
	}
    }
    td {
	padding: 0 8px;
    }
}
