#top, #main, #footer, .tab-container {
  zoom: 1; }

#navigation {
  margin-right: -3px; }

#page table th {
  background-color: #f0f0f0; }

#page fieldset table th {
  background-color: transparent }

td {
  background-color: white; }

tr.even td {
  background-color: #f8f8f8; }

.choices {
  width: expression( document.body.clientWidth > 299 ? "300px" : "auto" );
}

.choices ol {
  height: expression( this.scrollHeight > 199 ? "200px" : "auto" );
}

.pulldown {
  position: absolute;
}

form.formtastic fieldset {
    ol li.boolean, table td.boolean {
	input.dirty {
            border: 1px solid #00F;
	}
    }
}

form.formtastic fieldset.tabular ol li label {
    display: expression( this.parentNode.parentNode.parentNode.previousSibling
			 == null ? 'block' : 'none' );
    float: none;
}
