#top, #main, #footer, .tab-container, .tab-container > div {
  zoom: 1; }

#navigation {
  margin-right: -3px; }

#page > table th {
  background-color: #f0f0f0; }

td {
  background-color: white; }

tr.even td {
  background-color: #f8f8f8; }
