@import definitions

#top
  :overflow hidden

#main
  :width 80%
  :float left
  :margin
    :bottom -2000px
  :padding
    :bottom 2000px
  :overflow hidden
  :display block

#header
  :height 65px
  :padding
    :right 12px
  :background
    :color white
  :text
    :align center
  :color = !primary_color
  :font
    :size 160%
    :weight bold
  img
    :margin
      :bottom -2px
    :float left
  img.logo
    :padding
      :top 8px
    :float right
  div
    :float right
    :margin
      :top 30px
      :right 150px

#divider
  :margin 0
  :padding 0
  :position relative
  :height 10px
  :background url(../images/matrixRule.jpg)
    :color = !primary_color

#content
  :margin 0
  :background url(../images/house.jpg) no-repeat right bottom
  :padding 0 20px
  :border
    :bottom 1px solid
      :color = !primary_color

#page
  :padding
    :bottom 20px
  p
    :max-width 40em

#navigation
  :width 20%
  :float left
  :margin
    :bottom -2000px
  :padding
    :bottom 2000px
  :overflow hidden
  :display block
  :background url(../images/matrixRule.jpg)
    :color = !primary_color
  ul
    :list
      :style none
  li
    :border 1px solid white
    :padding 3px 6px
    :margin
      :top 5px
    a
      :color white
      :text
        :decoration none
        :transform uppercase
      :font
        :family Arial, Verdana, Helvetica, sans-serif
        :weight bolder
      :display block
      :width 100%
  li:hover
    :color = !primary_color
    :background
      :color white
    a
      :color = !primary_color
  img
    :float right
    :margin
      :right 0
      :top 0

#footer
  :padding 10px
  :text
    :align center
  img
    :float right
