.tabs-container
  :display inline
  :position relative
  :margin 0
  :padding 0
  > div
    :clear both
    :border solid #aaa
    :border-width 1px
    :padding 1em
  ul
    :list-style none
    :padding 0
    :margin 0
  li
    :float left
    :margin 0 -1px -1px 0
    a
      :bottom 0
      :float left
      :display block
      :width 10em
      :margin 0 auto
      :font-weight normal
      :font-size 90%
      :text-align center
      :text-decoration none
      :padding 3px 6px
      :border solid #aaa 1px
      :color = black
      :background-color = #eee
    a:hover
      :color = white
      :background-color = #888
