- title "File Upload for Study #{@study.name||""}"

%p
  %em=h @study.title
%hr

- make_form_for @study, :url => study_file_url(@study) do |f|
  = f.error_messages
  = f.file_field :data_file
  %hr
  = f.result_buttons %w{Refresh Back Next}
