#adapt table th {
  background-color: #f0f0f0; }
#adapt p {
  width: expression(document.body.clientWidth > 549 ? "550px" : "auto" ); }
#adapt table p {
  width: auto; }
#adapt form.formtastic fieldset.tab ol li.boolean input.dirty, #adapt form.formtastic fieldset.tab table td.boolean input.dirty {
  border: 1px solid #00F; }
#adapt form.formtastic fieldset.tabular ol li label {
  display: expression(this.parentNode.parentNode.parentNode.previousSibling 			    == null ? 'block' : 'none');
  float: none; }
#adapt td {
  background-color: white; }
#adapt tr.even td {
  background-color: #f8f8f8; }

#adapt-overlay {
  position: absolute; }
  #adapt-overlay .blanket {
    display: none; }

.adapt-choices {
  width: expression(document.body.clientWidth > 299 ? "300px" : "auto" ); }
  .adapt-choices ol {
    height: expression(this.scrollHeight > 199 ? "200px" : "auto" ); }
  .adapt-choices li.hover {
    background-color: #ffffcc; }
