html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, hr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: inherit; }

p {
  padding: 0.25em 0;
  text-align: justify; }

.indented p {
  margin: 0;
  text-indent: 1em; }

em {
  font-style: italic; }
  em em {
    font-style: normal; }

strong {
  font-weight: bolder; }

small {
  font-size: smaller; }

big {
  font-size: larger; }

ul {
  list-style: disc; }

li {
  margin-top: 0.3em;
  margin-left: 3em; }
  li ul {
    list-style: circle; }

dt {
  font-weight: bold;
  margin: 1em 0 0.5em 0; }

dd {
  margin-left: 3em; }

blockquote {
  margin: 0.3em 3em; }

sup {
  font-size: smaller;
  position: relative;
  bottom: 0.5em; }

sub {
  font-size: smaller;
  position: relative;
  bottom: -0.5em; }

h1, h2, h3 {
  font-weight: bolder;
  float: clear; }

h1 {
  font-size: 140%;
  margin-top: 1.2em;
  margin-bottom: 0.8em; }

h2 {
  font-size: 125%;
  margin-top: 0.9em;
  margin-bottom: 0.6em; }

h3 {
  font-size: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.4em; }

hr {
  height: 0;
  border: none;
    border-bottom: 1px solid gray;
  margin: 0;
    margin-right: 20%;
  padding: 0;
    padding-top: 1em; }

dfn {
  font-style: italic; }

tt {
  font-family: courier; }

del {
  text-decoration: line-through;
  color: maroon; }

ins {
  text-decoration: none;
  background-color: lightgreen; }

#top {
  overflow: hidden; }

#navigation {
  width: 150px;
  float: left;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  overflow: hidden;
  display: inline;
  background-color: #812f61; }
  #navigation ul {
    margin: 0;
    list-style: none;
    clear: both;
    padding-top: 2em; }
  #navigation li {
    margin: 0;
    padding: 0 1.5em 5px 1.5em; }
    #navigation li a {
      border: 1px solid white;
      margin: 0;
      padding: 3px 6px;
      color: white;
      background-color: #994779;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 90%;
      font-weight: bolder;
      display: block; }
    #navigation li a:hover {
      background-color: white;
      color: #994779; }
  #navigation img {
    float: right;
    margin: 0; }

#main {
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  overflow: hidden; }

#header {
  margin: 0;
  height: 81px;
  padding-right: 12px;
  background-color: white;
  text-align: center;
  color: #994779;
  font-size: 160%;
  font-weight: bold; }
  #header img {
    margin-bottom: -2px;
    float: left; }
  #header img.logo {
    padding-top: 8px;
    float: right; }
  #header div {
    float: left;
    padding-top: 30px; }

#content {
  margin: 0;
  min-height: 400px;
  height: auto !important;
  height: 400px;
  padding: 0 20px;
  border: none;
    border-top: 4px solid;
    border-bottom: 2px solid;
    border-color: #812f61; }

#footer {
  position: relative;
  clear: both;
  padding: 10px;
  text-align: center; }
  #footer a {
    position: absolute;
    right: 2em;
    top: 1ex; }
  #footer form {
    position: absolute;
    left: 2em;
    top: 1ex; }

#flash_notice,
#flash_error {
  width: 50%;
  padding: 5px 8px;
  margin: 10px 0;
  position: absolute;
  right: 20px; }

#flash_notice {
  background-color: #ffffcc;
  border: solid 1px #cccc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
    padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

/* -------------------------------------------------------------------------------------------------

It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

This stylesheet forms part of the Formtastic Rails Plugin
(c) 2008 Justin French

--------------------------------------------------------------------------------------------------*/
/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
--------------------------------------------------------------------------------------------------*/
form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0; }

form.formtastic fieldset {
  border: 0; }

form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal; }

form.formtastic ol, form.formtastic ul {
  list-style: none; }

form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal; }

form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%; }

form.formtastic legend {
  white-space: normal;
  color: #000; }

/* SEMANTIC ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic ul.errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square; }

form.formtastic ul.errors li {
  padding: 0;
  border: none;
  display: list-item; }

/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset {
  overflow: auto; }

/* clearing contained floats */
form.formtastic fieldset.buttons {
  padding-left: 25%; }

form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em; }

/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li {
  padding: 0.5em 0;
  margin-top: -0.5em;
  margin-bottom: 1em; }

/* padding and negative margin juggling is for Firefox */
form.formtastic fieldset > ol > li {
  overflow: auto; }

/* clearing contained floats */
/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em; }

form.formtastic fieldset > ol > li > li label {
  line-height: 100%;
  padding-top: 0; }

form.formtastic fieldset > ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em; }

/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li fieldset {
  position: relative; }

form.formtastic fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px; }

form.formtastic fieldset > ol > li fieldset legend span {
  position: absolute; }

form.formtastic fieldset > ol > li fieldset legend.label label {
  position: absolute; }

form.formtastic fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%; }

form.formtastic fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0; }

/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%; }

/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%; }

form.formtastic fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square; }

form.formtastic fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item; }

/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE & SEARCH OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input {
  width: 72%; }

form.formtastic fieldset > ol > li.string input[size],
form.formtastic fieldset > ol > li.password input[size],
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] {
  width: auto;
  max-width: 72%; }

/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.text textarea {
  width: 72%; }

form.formtastic fieldset > ol > li.text textarea[cols] {
  width: auto;
  max-width: 72%; }

/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.hidden {
  display: none; }

/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.boolean label {
  padding-left: 25%;
  width: auto; }

form.formtastic fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em; }

/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.radio fieldset {
  overflow: visible; }

form.formtastic fieldset > ol > li.radio fieldset ol {
  margin-bottom: -0.5em; }

form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible; }

form.formtastic fieldset > ol > li.radio fieldset ol li label {
  float: none;
  width: 100%; }

form.formtastic fieldset > ol > li.radio fieldset ol li label input {
  margin-right: 0.2em; }

/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.check_boxes fieldset {
  overflow: visible; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  margin-bottom: -0.5em; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  float: none;
  width: 100%; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
  margin-right: 0.2em; }

/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.date fieldset ol li,
form.formtastic fieldset > ol > li.time fieldset ol li,
form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0; }

form.formtastic fieldset > ol > li.date fieldset ol li label,
form.formtastic fieldset > ol > li.time fieldset ol li label,
form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none; }

form.formtastic fieldset > ol > li.date fieldset ol li label input,
form.formtastic fieldset > ol > li.time fieldset ol li label input,
form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0; }

#adapt {
  padding-bottom: 20px; }
  #adapt ul {
    margin-right: 3em; }
  #adapt p {
    max-width: 40em; }
  #adapt .box {
    border: 1px solid #aaaaaa;
    background-color: #f8f8f8;
    float: left;
    padding: 1em; }
  #adapt .clear {
    margin: 0;
    padding: 0;
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #adapt form.formtastic fieldset p {
    padding: 0.25em 0;
    text-align: justify; }
    #adapt form.formtastic fieldset p em {
      font-style: italic; }
  #adapt form.formtastic fieldset .inline-errors {
    color: red; }
  #adapt form.formtastic fieldset ol li {
    overflow: visible; }
    #adapt form.formtastic fieldset ol li label {
      display: block;
      float: none;
      font-style: italic;
      padding-right: 1em;
      padding-top: 0.2em; }
      #adapt form.formtastic fieldset ol li label abbr {
        color: red; }
    #adapt form.formtastic fieldset ol li p.inline-errors {
      color: red; }
  #adapt form.formtastic fieldset ol li.string input, #adapt form.formtastic fieldset ol li.string textarea, #adapt form.formtastic fieldset ol li.text input, #adapt form.formtastic fieldset ol li.text textarea {
    border: 1px solid gray;
    padding: 2px;
    margin: 0;
    background-color: #f0f0f0;
    font-family: monospace;
    font-size: 95%; }
  #adapt form.formtastic fieldset ol li.string input.dirty, #adapt form.formtastic fieldset ol li.string textarea.dirty, #adapt form.formtastic fieldset ol li.text input.dirty, #adapt form.formtastic fieldset ol li.text textarea.dirty {
    background-color: #f0f0ff;
    border-color: blue; }
  #adapt form.formtastic fieldset ol li.string input[size], #adapt form.formtastic fieldset ol li.string textarea[cols], #adapt form.formtastic fieldset ol li.text input[size], #adapt form.formtastic fieldset ol li.text textarea[cols] {
    max-width: 100%; }
  #adapt form.formtastic fieldset ol li.string textarea, #adapt form.formtastic fieldset ol li.text textarea {
    overflow: auto; }
  #adapt form.formtastic fieldset ol li.string input, #adapt form.formtastic fieldset ol li.text input {
    overflow: hidden; }
  #adapt form.formtastic fieldset ol li.boolean input, #adapt form.formtastic fieldset table td.boolean input {
    margin-top: 0.2em; }
  #adapt form.formtastic fieldset ol li.boolean input.dirty, #adapt form.formtastic fieldset table td.boolean input.dirty {
    outline: 1px solid rgba(0, 0, 255, 0.5); }
  #adapt form.formtastic fieldset ol li.boolean label, #adapt form.formtastic fieldset table td.boolean label {
    padding-left: 0;
    padding-right: 0; }
  #adapt form.formtastic fieldset table td.text input, #adapt form.formtastic fieldset table td.text textarea, #adapt form.formtastic fieldset table td.string input, #adapt form.formtastic fieldset table td.string textarea {
    border: 1px solid gray;
    padding: 2px;
    background-color: #f0f0f0;
    font-family: monospace;
    font-size: 105%;
    margin: -1px 0 -2px; }
  #adapt form.formtastic fieldset table td.text input.dirty, #adapt form.formtastic fieldset table td.text textarea.dirty, #adapt form.formtastic fieldset table td.string input.dirty, #adapt form.formtastic fieldset table td.string textarea.dirty {
    background-color: #f0f0ff;
    border-color: blue; }
  #adapt form.formtastic fieldset table p.inline-errors {
    padding: 0;
    margin: 0; }
  #adapt form.formtastic fieldset.repeatable {
    margin-bottom: 1em;
    overflow: visible; }
    #adapt form.formtastic fieldset.repeatable ol li {
      margin: -1px 0 0 0;
      padding: 0; }
  #adapt form.formtastic fieldset.inline ol li, #adapt form.formtastic fieldset.tabular ol li {
    display: inline;
    float: left; }
    #adapt form.formtastic fieldset.inline ol li label, #adapt form.formtastic fieldset.inline ol li input, #adapt form.formtastic fieldset.inline ol li p, #adapt form.formtastic fieldset.tabular ol li label, #adapt form.formtastic fieldset.tabular ol li input, #adapt form.formtastic fieldset.tabular ol li p {
      width: auto;
      display: inline;
      float: left; }
    #adapt form.formtastic fieldset.inline ol li p.inline-errors, #adapt form.formtastic fieldset.tabular ol li p.inline-errors {
      margin: 0; }
    #adapt form.formtastic fieldset.inline ol li input, #adapt form.formtastic fieldset.tabular ol li input {
      margin-right: 1em; }
  #adapt form.formtastic fieldset.inline ol li.boolean input {
    margin-right: 0.5em; }
  #adapt form.formtastic fieldset.inline ol li.boolean label {
    margin-right: 2em; }
  #adapt form.formtastic fieldset.tabular ol li {
    margin: -1px -1px 0 0;
    padding: 0; }
    #adapt form.formtastic fieldset.tabular ol li label {
      display: none; }
    #adapt form.formtastic fieldset.tabular ol li input, #adapt form.formtastic fieldset.tabular ol li p {
      margin: 0; }
    #adapt form.formtastic fieldset.tabular ol li p.inline-errors {
      width: auto;
      clear: both;
      float: none; }
  #adapt form.formtastic fieldset.tabular:first-child ol li label, #adapt form.formtastic fieldset.tabular:first-child ol li input {
    margin: 0;
    display: block;
    float: none; }
  #adapt form.formtastic table {
    width: auto;
    margin: 1em 0;
    border: none; }
    #adapt form.formtastic table thead th {
      background-color: inherit; }
    #adapt form.formtastic table tbody tr {
      border: 1px solid gray; }
    #adapt form.formtastic table th {
      padding: 3px 8px;
      font-size: 90%;
      font-weight: normal;
      font-style: italic; }
    #adapt form.formtastic table td {
      padding: 0 8px; }
  #adapt .properties ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0.6em 2em; }
    #adapt .properties ul li {
      position: relative;
      left: 13em;
      margin: 0;
      margin-right: 13em;
      padding: 0.4em 0 0 0;
      max-width: 35em; }
      #adapt .properties ul li dfn {
        margin: 0;
        padding: 0;
        position: relative;
        margin-left: -13em;
        width: 13em;
        float: left;
        color: #222222;
        font-weight: bolder;
        font-style: normal; }
      #adapt .properties ul li ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        #adapt .properties ul li ul li {
          position: relative;
          left: 0;
          margin: 0;
          padding: 0.2em 0 0 0; }
  #adapt table {
    margin: 0;
    padding: 0;
    empty-cells: show;
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
    font-size: 90%;
    line-height: 135%;
    text-align: center;
    width: 100%; }
    #adapt table th {
      border-style: solid;
      border-width: 0 0 1px 0;
      background-color: #f0f0f0;
      padding: 5px 12px;
      vertical-align: middle;
      font-weight: bold; }
    #adapt table td {
      border-style: solid;
      border-width: 1px 0 0 0;
      border-color: #aaaaaa;
      background-color: #ffffff;
      padding: 5px 12px;
      vertical-align: middle;
      font-weight: normal; }
      #adapt table td p {
        margin: 0;
        text-align: left; }
  #adapt .tab-container {
    display: inline;
    position: relative;
    margin: 0;
    padding: 0; }
    #adapt .tab-container fieldset.tab {
      position: relative;
      clear: both;
      border: 1px solid #aaaaaa;
      padding: 1em 2em;
      overflow: auto;
      margin-bottom: 5px; }
    #adapt .tab-container ul.tab-index {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0; }
      #adapt .tab-container ul.tab-index li.tab-entry {
        float: left;
        margin: 0 -1px -1px 0; }
        #adapt .tab-container ul.tab-index li.tab-entry a {
          float: left;
          display: block;
          position: relative;
          width: 10em;
          margin: 0 auto;
          font-weight: normal;
          font-size: 90%;
          text-align: center;
          text-decoration: none;
          padding: 0;
          border: solid #aaaaaa 1px;
          background: #eeeeee;
          color: black; }
          #adapt .tab-container ul.tab-index li.tab-entry a span {
            display: block;
            margin: -1px;
            padding: 3px 6px;
            background: no-repeat right top;
            background-image: url(../images/corner-eee.png); }
        #adapt .tab-container ul.tab-index li.tab-entry a:hover {
          background: #888888;
          color: white; }
          #adapt .tab-container ul.tab-index li.tab-entry a:hover span {
            background-image: url(../images/corner-888.png); }
        #adapt .tab-container ul.tab-index li.tab-entry a.current-tab {
          background: #ffffcc;
          border-bottom-color: #ffffcc; }
          #adapt .tab-container ul.tab-index li.tab-entry a.current-tab span {
            background-image: url(../images/corner-ffc.png); }
        #adapt .tab-container ul.tab-index li.tab-entry a.current-tab:hover {
          background: #f4ee99;
          border-bottom-color: #f4ee99;
          color: black; }
          #adapt .tab-container ul.tab-index li.tab-entry a.current-tab:hover span {
            background-image: url(../images/corner-f4ee99.png); }
        #adapt .tab-container ul.tab-index li.tab-entry a.error, #adapt .tab-container ul.tab-index li.tab-entry a.error:hover {
          color: red; }

#adapt-overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  width: 100%;
  z-index: 100; }
  #adapt-overlay .blanket {
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    position: absolute;
    width: 100%; }
  #adapt-overlay .dialog {
    position: relative;
    margin: 200px auto;
    width: 250px;
    padding: 30px 80px;
    font-size: 120%;
    background-color: #ffffcc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 4px #404040;
    -webkit-box-shadow: 3px 3px 4px #404040;
    box-shadow: 3px 3px 4px #404040;
    border: solid 1px #cccc66; }
    #adapt-overlay .dialog .busy-indicator {
      position: absolute;
      left: 30px;
      bottom: 25px;
      width: 32px;
      height: 32px;
      background: url("/images/ajax-loader.gif") no-repeat right; }

#tooltip {
  width: 20em;
  background-color: #ffffcc;
  padding: 2px;
  border: 1px solid #cccccc;
  text-align: left;
  z-index: 10;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 3px gray;
  -webkit-box-shadow: 2px 2px 3px gray;
  box-shadow: 2px 2px 3px gray; }

.choices {
  display: block;
  background: white; }
  .choices ol {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #404040; }
  .choices li {
    margin: 0;
    padding: 2px 0.5em;
    border-bottom: 1px solid #e0e0e0; }
  .choices li:last-child {
    border-bottom: none; }
  .choices li:hover {
    background-color: #ffffcc; }

.pulldown {
  margin-top: -1px;
  -moz-box-shadow: 3px 3px 4px gray;
  -webkit-box-shadow: 3px 3px 4px gray;
  box-shadow: 3px 3px 4px gray; }
  .pulldown legend {
    display: none; }

body {
  min-width: 720px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 10pt; }

a {
  color: #772557; }
  a img {
    border: none; }

a:hover {
  color: #aa588a; }
