@import url(reset.css);
p {
  margin: 0.5em 0; }

em {
  font-style: italic; }

strong {
  font-weight: bolder; }

small {
  font-size: smaller; }

big {
  font-size: larger; }

ul {
  list-style: disc; }

li {
  margin: 0.3em 3em; }
  li ul {
    list-style: circle; }

dt {
  font-weight: bold;
  margin: 1em 0 0.5em 0; }

dd {
  margin-left: 1em; }

blockquote {
  margin: 0.3em 3em; }

sup {
  font-size: smaller;
  position: relative;
  bottom: 0.5em; }

sub {
  font-size: smaller;
  position: relative;
  bottom: -0.5em; }

h1, h2, h3 {
  font-weight: bolder;
  float: clear; }

h1 {
  font-size: 140%;
  margin-top: 1.2em;
  margin-bottom: 0.8em; }

h2 {
  font-size: 125%;
  margin-top: 0.9em;
  margin-bottom: 0.6em; }

h3 {
  font-size: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.4em; }

hr {
  height: 0;
  width: 80%;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 1.5em; }

dfn {
  font-style: italic; }

tt {
  font-family: courier; }

del {
  text-decoration: line-through;
  color: #800000; }

ins {
  text-decoration: none;
  background-color: lightgreen; }

#flash_notice,
#flash_error {
  width: 75%;
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #FFC;
  border: solid 1px #CC6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#top {
  overflow: hidden; }

#main {
  width: 80%;
  float: left;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
  overflow: hidden;
  display: block; }

#header {
  height: 65px;
  padding-right: 12px;
  background-color: white;
  text-align: center;
  color: #994779;
  font-size: 160%;
  font-weight: bold; }
  #header img {
    margin-bottom: -2px;
    float: left; }
  #header img.logo {
    padding-top: 8px;
    float: right; }
  #header div {
    float: right;
    margin-top: 30px;
    margin-right: 150px; }

#divider {
  margin: 0;
  padding: 0;
  position: relative;
  height: 10px;
  background: url(../images/matrixRule.jpg);
  background-color: #994779; }

#content {
  margin: 0;
  background: url(../images/house.jpg) no-repeat right bottom;
  padding: 0 20px;
  border-bottom: 1px solid;
  border-bottom-color: #994779; }

#page {
  padding-bottom: 20px; }
  #page p {
    max-width: 40em; }

#navigation {
  width: 20%;
  float: left;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
  overflow: hidden;
  display: block;
  background: url(../images/matrixRule.jpg);
  background-color: #994779; }
  #navigation ul {
    list-style: none; }
  #navigation li {
    border: 1px solid white;
    padding: 3px 6px;
    margin-top: 5px; }
    #navigation li a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Arial, Verdana, Helvetica, sans-serif;
      font-weight: bolder;
      display: block;
      width: 100%; }
  #navigation li:hover {
    color: #994779;
    background-color: white; }
    #navigation li:hover a {
      color: #994779; }
  #navigation img {
    float: right;
    margin-right: 0;
    margin-top: 0; }

#footer {
  padding: 10px;
  text-align: center; }
  #footer img {
    float: right; }

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 10pt; }

a {
  color: #994779; }
  a img {
    border: none; }

.clear {
  margin: 0;
  padding: 0;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.properties >ul {
  list-style: none;
  margin: 0;
  margin-left: 16em;
  padding: 0.6em 0; }
  .properties >ul >li {
    margin: 0.4em 0;
    padding: 0;
    clear: left;
    max-width: 35em; }
    .properties >ul >li ul {
      list-style: none; }
      .properties >ul >li ul li {
        margin: 0.2em 0; }
.properties dfn {
  margin-left: -14em;
  display: block;
  float: left;
  width: 14em;
  color: #222;
  font-weight: bolder;
  font-style: normal; }
