html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, hr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: inherit; }

p {
  margin: 0.5em 0;
  text-align: justify; }

.indented p {
  margin: 0;
  text-indent: 1em; }

em {
  font-style: italic; }
  em em {
    font-style: normal; }

strong {
  font-weight: bolder; }

small {
  font-size: smaller; }

big {
  font-size: larger; }

ul {
  list-style: disc; }

li {
  margin-top: 0.3em;
  margin-left: 3em; }
  li ul {
    list-style: circle; }

dt {
  font-weight: bold;
  margin: 1em 0 0.5em 0; }

dd {
  margin-left: 3em; }

blockquote {
  margin: 0.3em 3em; }

sup {
  font-size: smaller;
  position: relative;
  bottom: 0.5em; }

sub {
  font-size: smaller;
  position: relative;
  bottom: -0.5em; }

h1, h2, h3 {
  font-weight: bolder;
  float: clear; }

h1 {
  font-size: 140%;
  margin-top: 1.2em;
  margin-bottom: 0.8em; }

h2 {
  font-size: 125%;
  margin-top: 0.9em;
  margin-bottom: 0.6em; }

h3 {
  font-size: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.4em; }

hr {
  height: 0;
  border: none;
    border-bottom: 1px solid gray;
  margin: 0;
    margin-right: 20%;
  padding: 0;
    padding-top: 1em; }

dfn {
  font-style: italic; }

tt {
  font-family: courier; }

del {
  text-decoration: line-through;
  color: maroon; }

ins {
  text-decoration: none;
  background-color: lightgreen; }

.properties ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0.6em 2em; }
  .properties ul li {
    position: relative;
    left: 13em;
    margin: 0;
    margin-right: 13em;
    padding: 0.4em 0 0 0;
    max-width: 35em; }
    .properties ul li dfn {
      margin: 0;
      padding: 0;
      position: relative;
      margin-left: -13em;
      width: 13em;
      float: left;
      color: #222222;
      font-weight: bolder;
      font-style: normal; }
    .properties ul li ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .properties ul li ul li {
        position: relative;
        left: 0;
        margin: 0;
        padding: 0.2em 0 0 0; }

#flash_notice,
#flash_error {
  width: 75%;
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ffffcc;
  border: solid 1px #cccc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
    padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

body {
  min-width: 720px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 10pt; }

a {
  color: #772557; }
  a img {
    border: none; }

a:hover {
  color: #aa588a; }

.clear {
  margin: 0;
  padding: 0;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

a.toggle {
  font-size: 90%;
  font-weight: normal;
  float: left;
  margin: 0;
    margin-right: 1em;
    margin-bottom: 0.5em;
  padding: 0;
  border: none;
  text-decoration: none; }

.proxy {
  margin: 0;
  padding: 0 0.5em 0.2em;
  border: none;
  float: left;
  background-color: #f2f2f2; }

.toggle-show {
  outline: 1px solid;
  background-color: #f2f2f2;
  outline-color: #cccccc; }

.toggle-hide {
  background-color: #f2f2f2; }

.box {
  border: 1px solid #aaaaaa;
  background-color: #f8f8f8;
  float: left;
  padding: 1em; }

.inline-box {
  border: 1px solid #aaaaaa;
  background-color: #f8f8f8;
  padding: 0 0.2em;
  margin: 0 0.2em; }
