html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, hr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: inherit; }

p {
  margin: 0.5em 0;
  text-align: justify; }

.indented p {
  margin: 0;
  text-indent: 1em; }

em {
  font-style: italic; }
  em em {
    font-style: normal; }

strong {
  font-weight: bolder; }

small {
  font-size: smaller; }

big {
  font-size: larger; }

ul {
  list-style: disc; }

li {
  margin-top: 0.3em;
  margin-left: 3em; }
  li ul {
    list-style: circle; }

dt {
  font-weight: bold;
  margin: 1em 0 0.5em 0; }

dd {
  margin-left: 3em; }

blockquote {
  margin: 0.3em 3em; }

sup {
  font-size: smaller;
  position: relative;
  bottom: 0.5em; }

sub {
  font-size: smaller;
  position: relative;
  bottom: -0.5em; }

h1, h2, h3 {
  font-weight: bolder;
  float: clear; }

h1 {
  font-size: 140%;
  margin-top: 1.2em;
  margin-bottom: 0.8em; }

h2 {
  font-size: 125%;
  margin-top: 0.9em;
  margin-bottom: 0.6em; }

h3 {
  font-size: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.4em; }

hr {
  height: 0;
  border: none;
    border-bottom: 1px solid gray;
  margin: 0;
    margin-right: 20%;
  padding: 0;
    padding-top: 1em; }

dfn {
  font-style: italic; }

tt {
  font-family: courier; }

del {
  text-decoration: line-through;
  color: maroon; }

ins {
  text-decoration: none;
  background-color: lightgreen; }

.properties ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0.6em 2em; }
  .properties ul li {
    position: relative;
    left: 13em;
    margin: 0;
    margin-right: 13em;
    padding: 0.4em 0 0 0;
    max-width: 35em; }
    .properties ul li dfn {
      margin: 0;
      padding: 0;
      position: relative;
      margin-left: -13em;
      width: 13em;
      float: left;
      color: #222222;
      font-weight: bolder;
      font-style: normal; }
    .properties ul li ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .properties ul li ul li {
        position: relative;
        left: 0;
        margin: 0;
        padding: 0.2em 0 0 0; }

table {
  margin: 0;
  padding: 0;
  empty-cells: show;
  border: 1px solid;
  border-collapse: collapse;
  border-color: black;
  font-size: 90%;
  line-height: 135%;
  text-align: center;
  width: 100%; }

th {
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 5px 12px;
  vertical-align: middle;
  font-weight: bold; }

td {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #aaaaaa;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 12px;
  vertical-align: middle;
  font-weight: normal; }
  td p {
    margin: 0;
    text-align: left; }

tr.odd td {
  background-color: rgba(248, 248, 248, 0.9); }

form div {
  margin: 0;
  padding: 0;
    padding-bottom: 1em; }
form h3 {
  padding: 0;
    padding-bottom: 1.5em; }
form p, form hr {
  clear: both; }

label {
  font-style: italic; }

label {
  padding-right: 1em; }

div > label {
  padding-right: 0;
  padding-bottom: 2px;
  display: block; }

label em, label .error {
  color: red; }

input[type=text], textarea {
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  background-color: #f0f0f0;
  font-size: 95%;
  font-family: monospace; }

input[type=text]:hover, textarea:hover {
  background-color: #fafafa; }

input[type=text]:focus, textarea:focus {
  background-color: #fafafa; }

select {
  border: 1px solid gray; }
  select option:hover {
    background-color: #f0f0f0; }

div.form-field {
  display: inline;
  float: left;
  padding-right: 2em; }

select.predefined {
  display: none; }

*:focus + select.predefined, select.predefined:focus {
  display: block;
  position: absolute; }

form table {
  width: auto;
  margin: 1em 0;
  border: none; }
  form table tbody tr {
    border: 1px solid gray; }
  form table th {
    background-color: inherit;
    padding: 3px 8px;
    font-size: 90%;
    font-weight: normal;
    font-style: italic; }
  form table td {
    padding: 0 8px; }
  form table input[type=text], form table textarea {
    margin: 0;
    border-width: 0 1px;
    display: block; }

.input-table {
  font-size: 100%;
  margin: 0; }
  .input-table thead {
    font-size: 90%; }
  .input-table th, .input-table td {
    padding: 0;
    margin: 0;
    background: none; }
  .input-table th {
    border: none;
    font-weight: normal; }
  .input-table td {
    border: 1px solid gray; }
  .input-table input, .input-table textarea {
    border: none;
    margin: 0;
    display: block; }

#navigation, #flash_notice, #flash_error, #footer, #divider,
.submit, .links, .noprint {
  display: none; }

body {
  background: white;
  color: black;
  font-family: Times;
  font-size: 10pt; }

body, #main, table {
  width: 100%;
  margin: 0;
  float: none; }

#header, a, h1, h2, h3, dfn, table, form {
  font-family: Helvetica; }

#header {
  font-size: 160%;
  font-weight: bold; }
  #header img {
    display: none; }
  #header div {
    padding: 0;
    margin: 0;
      margin-bottom: 2em; }

a {
  color: black;
  text-decoration: underline; }

hr {
  width: 100%;
  border: none;
    border-bottom: 1px solid black; }

.clear {
  margin: 0;
  padding: 0;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
