@import url(reset.css);
p {
  margin: 0.5em 0; }

em {
  font-style: italic; }

strong {
  font-weight: bolder; }

small {
  font-size: smaller; }

big {
  font-size: larger; }

ul {
  list-style: disc; }

li {
  margin: 0.3em 3em; }
  li ul {
    list-style: circle; }

dt {
  font-weight: bold;
  margin: 1em 0 0.5em 0; }

dd {
  margin-left: 1em; }

blockquote {
  margin: 0.3em 3em; }

sup {
  font-size: smaller;
  position: relative;
  bottom: 0.5em; }

sub {
  font-size: smaller;
  position: relative;
  bottom: -0.5em; }

h1, h2, h3 {
  font-weight: bolder;
  float: clear; }

h1 {
  font-size: 140%;
  margin-top: 1.2em;
  margin-bottom: 0.8em; }

h2 {
  font-size: 125%;
  margin-top: 0.9em;
  margin-bottom: 0.6em; }

h3 {
  font-size: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.4em; }

hr {
  height: 1px;
  width: 80%;
  border: none;
  margin-top: 1.5em;
  background-color: gray; }

dfn {
  font-style: italic; }

tt {
  font-family: courier; }

del {
  text-decoration: line-through;
  color: #800000; }

ins {
  text-decoration: none;
  background-color: lightgreen; }

table {
  margin: 0;
  padding: 0;
  empty-cells: show;
  border: 1px solid;
  border-collapse: collapse;
  font-size: 90%;
  line-height: 135%;
  text-align: center;
  width: 100%; }

th {
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 5px 12px;
  vertical-align: middle;
  font-weight: bold; }

td {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #aaa;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 12px;
  vertical-align: middle;
  font-weight: normal; }
  td p {
    margin: 0;
    text-align: left; }

tr.even td {
  background-color: rgba(248, 248, 248, 0.9); }

form div {
  margin: 1em 0; }

.form-field .row {
  margin: 0;
  margin-left: 1em; }

.row .form-field {
  display: block;
  float: left;
  margin-right: 2em; }

.form-field {
  font-style: italic; }

.input {
  float: left; }

.required {
  padding-left: 1ex;
  color: red; }

.formError {
  padding-left: 1em;
  color: red; }

.fieldWithErrors input {
  border-style: solid;
  border-color: red; }

#navigation, #flash {
  display: none; }

#header {
  font-size: 160%;
  font-weight: bold; }
  #header img {
    display: none; }
  #header div {
    padding: 0;
    margin: 0;
    margin-bottom: 2em; }

#footer {
  margin-top: 2em;
  text-align: center; }

.submit, .links {
  display: none; }

.hide-in-print {
  display: none; }

body {
  font-family: Times;
  font-size: 10pt; }

h1, h2, h3, dfn, #header, #footer {
  font-family: Helvetica; }

a {
  color: black;
  text-decoration: none; }

.clear {
  margin: 0;
  padding: 0;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.properties >ul {
  list-style: none;
  margin: 0;
  margin-left: 16em;
  padding: 0.6em 0; }
  .properties >ul >li {
    margin: 0.4em 0;
    padding: 0;
    clear: left;
    max-width: 35em; }
    .properties >ul >li ul {
      list-style: none; }
      .properties >ul >li ul li {
        margin: 0.2em 0; }
.properties dfn {
  margin-left: -14em;
  display: block;
  float: left;
  width: 14em;
  font-weight: bolder;
  font-style: normal; }
