.choices {
  display: block;
  background: white; }
  .choices ol {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #404040; }
  .choices li {
    margin: 0;
    padding: 2px 0.5em;
    border-bottom: 1px solid #e0e0e0; }
  .choices li:last-child {
    border-bottom: none; }
  .choices li:hover {
    background-color: #ffffcc; }

.pulldown {
  position: fixed;
  margin-top: -1px;
  -moz-box-shadow: 3px 3px 4px #808080;
  -webkit-box-shadow: 3px 3px 4px #808080;
  box-shadow: 3px 3px 4px #808080; }
  .pulldown legend {
    display: none; }
