.choices {
  display: block;
  background: white;
  border: 1px solid #aaa; }
  .choices ol {
    max-height: 200px;
    overflow: auto; }
  .choices li {
    margin: 0;
    padding: 1px; }

.pulldown {
  position: fixed; }
  .pulldown legend {
    display: none; }
