form.formtastic fieldset p {
  padding: 0.25em 0;
  text-align: justify; }
  form.formtastic fieldset p em {
    font-style: italic; }
form.formtastic fieldset > ol > li label {
  float: none; }
  form.formtastic fieldset > ol > li label abbr {
    color: red; }
form.formtastic fieldset > ol > li p.inline-errors {
  color: red; }
form.formtastic fieldset .inline-errors {
  color: red; }
form.formtastic fieldset.inline > ol > li {
  display: inline;
  float: left; }
  form.formtastic fieldset.inline > ol > li label, form.formtastic fieldset.inline > ol > li input, form.formtastic fieldset.inline > ol > li p {
    width: auto;
    display: inline;
    float: left; }
  form.formtastic fieldset.inline > ol > li p.inline-errors {
    margin: 0; }
  form.formtastic fieldset.inline > ol > li input {
    margin-right: 1em; }
form.formtastic fieldset.repeatable {
  margin-bottom: 1em; }
  form.formtastic fieldset.repeatable > ol > li {
    margin: -1px 0 0 0;
    padding: 0; }
