form div {
  margin: 0;
  padding: 0;
    padding-bottom: 1em; }
form h3 {
  padding: 0;
    padding-bottom: 1.5em; }
form p, form hr {
  clear: both; }

label {
  font-style: italic; }

label {
  padding-right: 1em; }

div > label {
  padding-right: 0;
  padding-bottom: 2px;
  display: block; }

label em, label .error {
  color: red; }

input[type=text], textarea {
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  background-color: #f0f0f0;
  font-size: 95%;
  font-family: monospace; }

input[type=text]:hover, textarea:hover {
  background-color: #fafafa; }

input[type=text]:focus, textarea:focus {
  background-color: #fafafa; }

select {
  border: 1px solid gray; }
  select option:hover {
    background-color: #f0f0f0; }

div.form-field {
  display: inline;
  float: left;
  padding-right: 2em; }

select.predefined {
  display: none; }

*:focus + select.predefined, select.predefined:focus {
  display: block;
  position: absolute; }

form table {
  width: auto;
  margin: 1em 0;
  border: none; }
  form table tbody tr {
    border: 1px solid gray; }
  form table th {
    background-color: inherit;
    padding: 3px 8px;
    font-size: 90%;
    font-weight: normal;
    font-style: italic; }
  form table td {
    padding: 0 8px; }
  form table td.with_input input[type=text], form table td.with_input textarea {
    margin: 0;
    border-width: 0 1px;
    display: block;
    font-size: 105%; }

.input-table {
  font-size: 100%;
  margin: 0; }
  .input-table thead {
    font-size: 90%; }
  .input-table th, .input-table td {
    padding: 0;
    margin: 0;
    background: none; }
  .input-table th {
    border: none;
    font-weight: normal; }
  .input-table td {
    border: 1px solid gray;
    background-color: #f0f0f0; }
  .input-table td:hover, .input-table td:focus {
    background-color: #fafafa; }
  .input-table input, .input-table textarea {
    border: none;
    margin: 0;
    display: block; }
