form div {
  margin: 1em 0; }

.form-field .row {
  margin: 0;
  margin-left: 1em; }

.row .form-field {
  display: block;
  float: left;
  margin-right: 2em; }

.form-field {
  font-style: italic; }

.input {
  float: left; }

.required {
  padding-left: 1ex;
  color: red; }

.formError {
  padding-left: 1em;
  color: red; }

.fieldWithErrors input {
  border-style: solid;
  border-color: red; }
