form.formtastic fieldset p {
  padding: 0.25em 0;
  text-align: justify; }
  form.formtastic fieldset p em {
    font-style: italic; }
form.formtastic fieldset .inline-errors {
  color: red; }
form.formtastic fieldset ol li {
  overflow: visible; }
  form.formtastic fieldset ol li label {
    display: block;
    float: none;
    font-style: italic;
    padding-right: 1em;
    padding-top: 0.2em; }
    form.formtastic fieldset ol li label abbr {
      color: red; }
  form.formtastic fieldset ol li p.inline-errors {
    color: red; }
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.string textarea, form.formtastic fieldset ol li.text input, form.formtastic fieldset ol li.text textarea {
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  background-color: #f0f0f0;
  font-family: monospace;
  font-size: 95%; }
form.formtastic fieldset ol li.string input.dirty, form.formtastic fieldset ol li.string textarea.dirty, form.formtastic fieldset ol li.text input.dirty, form.formtastic fieldset ol li.text textarea.dirty {
  background-color: #f0f0ff;
  border-color: blue; }
form.formtastic fieldset ol li.string input[size], form.formtastic fieldset ol li.string textarea[cols], form.formtastic fieldset ol li.text input[size], form.formtastic fieldset ol li.text textarea[cols] {
  max-width: 100%; }
form.formtastic fieldset ol li.string textarea, form.formtastic fieldset ol li.text textarea {
  overflow: auto; }
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.text input {
  overflow: hidden; }
form.formtastic fieldset ol li.boolean input, form.formtastic fieldset table td.boolean input {
  margin-top: 0.2em; }
form.formtastic fieldset ol li.boolean input.dirty, form.formtastic fieldset table td.boolean input.dirty {
  outline: 1px solid rgba(0, 0, 255, 0.5); }
form.formtastic fieldset ol li.boolean label, form.formtastic fieldset table td.boolean label {
  padding-left: 0;
  padding-right: 0; }
form.formtastic fieldset table td.text input, form.formtastic fieldset table td.text textarea, form.formtastic fieldset table td.string input, form.formtastic fieldset table td.string textarea {
  border: 1px solid gray;
  padding: 2px;
  background-color: #f0f0f0;
  font-family: monospace;
  font-size: 105%;
  margin: -1px 0 -2px; }
form.formtastic fieldset table td.text input.dirty, form.formtastic fieldset table td.text textarea.dirty, form.formtastic fieldset table td.string input.dirty, form.formtastic fieldset table td.string textarea.dirty {
  background-color: #f0f0ff;
  border-color: blue; }
form.formtastic fieldset table p.inline-errors {
  padding: 0;
  margin: 0; }

form.formtastic fieldset.repeatable {
  margin-bottom: 1em;
  overflow: visible; }
  form.formtastic fieldset.repeatable ol li {
    margin: -1px 0 0 0;
    padding: 0; }

form.formtastic fieldset.inline ol li, form.formtastic fieldset.tabular ol li {
  display: inline;
  float: left; }
  form.formtastic fieldset.inline ol li label, form.formtastic fieldset.inline ol li input, form.formtastic fieldset.inline ol li p, form.formtastic fieldset.tabular ol li label, form.formtastic fieldset.tabular ol li input, form.formtastic fieldset.tabular ol li p {
    width: auto;
    display: inline;
    float: left; }
  form.formtastic fieldset.inline ol li p.inline-errors, form.formtastic fieldset.tabular ol li p.inline-errors {
    margin: 0; }
  form.formtastic fieldset.inline ol li input, form.formtastic fieldset.tabular ol li input {
    margin-right: 1em; }

form.formtastic fieldset.inline ol li.boolean input {
  margin-right: 0.5em; }
form.formtastic fieldset.inline ol li.boolean label {
  margin-right: 2em; }

form.formtastic fieldset.tabular ol li {
  margin: -1px -1px 0 0;
  padding: 0; }
  form.formtastic fieldset.tabular ol li label {
    display: none; }
  form.formtastic fieldset.tabular ol li input, form.formtastic fieldset.tabular ol li p {
    margin: 0; }
  form.formtastic fieldset.tabular ol li p.inline-errors {
    width: auto;
    clear: both;
    float: none; }

form.formtastic fieldset.tabular:first-child ol li label, form.formtastic fieldset.tabular:first-child ol li input {
  margin: 0;
  display: block;
  float: none; }

form.formtastic table {
  width: auto;
  margin: 1em 0;
  border: none; }
  form.formtastic table tbody tr {
    border: 1px solid gray; }
  form.formtastic table th {
    background-color: inherit;
    padding: 3px 8px;
    font-size: 90%;
    font-weight: normal;
    font-style: italic; }
  form.formtastic table td {
    padding: 0 8px; }
