#top, #main, #header, #footer, #navigation, .tabs-container, .tab-body {
  zoom: 1; }

#navigation {
  margin-right: -3px; }

th {
  background-color: #f0f0f0; }

td {
  background-color: white; }

tr.even td {
  background-color: #f8f8f8; }

p {
  width: 40em; }
