#top {
  overflow: hidden; }

#navigation {
  width: 150px;
  float: left;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  overflow: hidden;
  display: inline;
  background-color: #812f61; }
  #navigation ul {
    margin: 0;
    list-style: none;
    clear: both;
    padding-top: 2em; }
  #navigation li {
    margin: 0;
    padding: 0 1.5em 5px 1.5em; }
    #navigation li a {
      border: 1px solid white;
      margin: 0;
      padding: 3px 6px;
      color: white;
      background-color: #994779;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 90%;
      font-weight: bolder;
      display: block; }
    #navigation li a:hover {
      background-color: white;
      color: #994779; }
  #navigation img {
    float: right;
    margin: 0; }

#main {
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  overflow: hidden; }

#header {
  margin: 0;
  height: 81px;
  padding-right: 12px;
  background-color: white;
  text-align: center;
  color: #994779;
  font-size: 160%;
  font-weight: bold; }
  #header img {
    margin-bottom: -2px;
    float: left; }
  #header img.logo {
    padding-top: 8px;
    float: right; }
  #header div {
    float: left;
    padding-top: 30px; }

#content {
  margin: 0;
  min-height: 400px;
  height: auto !important;
  height: 400px;
  padding: 0 20px;
  border: none;
    border-top: 4px solid;
    border-bottom: 2px solid;
    border-color: #812f61; }

#page {
  padding-bottom: 20px; }
  #page ul {
    margin-right: 3em; }
  #page p {
    max-width: 40em; }

#footer {
  position: relative;
  clear: both;
  padding: 10px;
  text-align: center; }
  #footer a {
    position: absolute;
    right: 2em;
    top: 1ex; }
  #footer form {
    position: absolute;
    left: 2em;
    top: 1ex; }
