#top {
  overflow: hidden; }

#main {
  width: 80%;
  float: left;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
  overflow: hidden;
  display: block; }

#header {
  height: 65px;
  padding-right: 12px;
  background-color: white;
  text-align: center;
  color: #994779;
  font-size: 160%;
  font-weight: bold; }
  #header img {
    margin-bottom: -2px;
    float: left; }
  #header img.logo {
    padding-top: 8px;
    float: right; }
  #header div {
    float: left;
    margin-top: 30px; }

#divider {
  margin: 0;
  margin-bottom: 2.4em;
  padding: 0;
  position: relative;
  height: 4px;
  background-color: #812f61; }

#content {
  margin: 0;
  min-height: 400px;
  background: url(../images/house.jpg) no-repeat right bottom;
  padding: 0 20px;
  border: none;
  border-bottom: 2px solid;
  border-color: #812f61; }

#page {
  padding-bottom: 20px; }
  #page p {
    max-width: 40em; }

#navigation {
  width: 20%;
  float: left;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
  overflow: hidden;
  display: block;
  background-color: #812f61; }
  #navigation ul {
    list-style: none; }
  #navigation li {
    border: 1px solid white;
    padding: 3px 6px;
    margin-top: 5px;
    background-color: #994779; }
    #navigation li a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bolder;
      display: block;
      width: 100%; }
  #navigation li:hover {
    background-color: white; }
    #navigation li:hover a {
      color: #994779; }
  #navigation img {
    float: right;
    margin-right: 0;
    margin-top: 0; }

#footer {
  padding: 10px;
  text-align: center; }
  #footer img {
    float: right; }
