- title "Edit Attachment"
- stylesheet :forms

%p
  %strong Attachment:
  %em=h @attachment.name
%p
  %strong Study:
  %em=h @attachment.study.title

- make_form_for @attachment do |f|
  = f.error_messages
  = f.check_box :category
  = f.text_area :description
  = f.result_buttons %w{Submit Cancel}
