- title "Edit Attachment"

%p
  %strong Attachment:
  %em=h @attachment.name
%p
  %strong Study:
  %em=h @attachment.study.title

- make_form_for @attachment do |f|
  = f.error_messages
  = f.select :category
  /= f.text_field :format
  = f.text_area :description
  = f.result_buttons %w{Submit Cancel}
