#edit-help.tab-body
  %h3 How to use this form:

  %ul
    %li
      %p
        It is recommended, although not strictly necessary, that you
        have Javascript enabled for this form. If you are using
        Internet Explorer 6 or older, please consider upgrading or
        switching to a different web browser such as Firefox or Chrome.
    %li
      %p
        %span{ :style => "color: red;" } Red text
        indicates required information that has not yet been
        provided or input that does not seem valid.
    %li
      %p
        Information you provide is not sent to the web server until
        you press either
        %em 'Apply Changes
        or
        %em 'Save and Exit'
        near the bottom of this page. This is also true for files you
        select for uploading. Once the data is thus saved, you can log
        out or leave this page and continue editing at a later time.
    %li
      %p
        Please note however that after you submit a study, you will no
        longer be able to edit it using this system.
    %li
      %p
        Some fields in this form are repeatable. With Javascript
        enabled, additional lines should automatically appear as
        needed. Alternatively, you can also press
        %em 'Apply Changes'.
    %li
      %p
        Some fields offer lists of pre-defined answers via
        drop-down boxes. You can modify these once selected (for
        example to indicate which part of a study the answer applies
        to) or, if none fits, use your own words.
    %li
      %p
        Dates can be specified as a year, year and month, or full
        date. Providing a four-digit year and three-letter month
        as in 'Jan 2010' helps avoid ambiguities, but other
        formats are also accepted.
    %li
      %p
        To delete a study, visit
        %em 'View Deposits'
        via the menu bar on the left.
  .clear
