#edit-help.tab-body
  %h3 General Instructions

  %ul
    %li
      %p
        It is recommended, although not strictly necessary, that you
        have Javascript enabled for this form.
    %li
      %p
        %span{ :style => "color: red;" } Red text
        indicates required information that has not yet been
        provided or input that does not seem valid.
    %li
      %p
        Some fields are normalized by the system. Press
        %em 'Apply Changes'
        at any time to verify that your inputs were taken as intended.
    %li
      %p
        To save this form for later completion, press
        %em 'Save and Exit'
        at the bottom of this page.
    %li
      %p
        Dates can be specified as a year, year and month, or full
        date. Providing a four-digit year and three-letter month
        as in 'Jan 2010' helps avoid ambiguities, but other
        formats are also accepted.
    %li
      %p
        Some fields in this form are repeatable. With Javascript
        enabled, additional lines should automatically appear as
        needed. Alternatively, you can also press
        %em 'Apply Changes'.
    %li
      %p
        Some fields offer lists of pre-defined answers via drop-down
        selection boxes. If none of these suggestions fit, you can
        still type arbitrary text.
    %li
      %p
        To delete a study, visit
        %em 'View Deposits'
        via the menu bar on the left.

  .clear
