- title "New Study"
- stylesheet :forms

= formular_for @study do |f|
  %p= f.text_area :title, :rows => 4, :required => true
  %p= f.text_area :abstract, :rows => 16, :required => true

  %hr
  %p= f.result_buttons
