- title "Study"

%p
  %strong User:
  =h @study.user.username
%p
  %strong ASSDA ID:
  =h @study.permanent_identifier
%p
  %strong Name:
  =h @study.name
%p
  %strong Status:
  =h @study.status

%p>
  = link_to "Edit", edit_study_path(@study)
  |
  = link_to "Destroy", @study, :confirm => 'Are you sure?', |
                               :method => :delete |
  /
  |
  = link_to "View All", studies_path
