- title "Deposit Licence"

%pre= @licence.text false

%hr
- if @study.status == "unsubmitted"
  %fieldset
    - form_tag accept_licence_url(@licence) do
      %p
        %input{ :name => "result", :type => "submit", :value => "Go Back" }
        %input{ :name => "result", :type => "submit", :value => "Accept" }
