- title "Deposit Licence"

%pre= @text

%hr
- if @study.status == "unsubmitted"
  %fieldset
    = form_tag submit_study_url(@study) do
      %p
        %input{ :name => "licence_text", :type => "hidden", :value => @text }
        %input{ :name => "result", :type => "submit", :value => "Cancel" }
        %input{ :name => "result", :type => "submit", :value => "Accept" }
