- title "Deposit Licence"

%pre= @licence.text false

%fieldset
  - form_tag accept_licence_url(@licence) do
    %p
      %input{ :name => "result", :type => "submit", :value => "Go Back" }
      %input{ :name => "result", :type => "submit", :value => "Accept" }
