.box
  = form_for @study, :url => approve_adapt_study_path(@study), |
                     :html => { :method => :post } do |f| |
    %label
      Archivist
      = f.select :archivist, @study.selections(:archivist)
    %hr
    %p
      Approve and assign to the selected archivist
      &nbsp;
      = f.submit :name => 'result', :value => 'Approve'
    %p
      or reopen for depositor to add further information
      &nbsp;
      = f.submit :name => 'result', :value => 'Reopen'
.clear
