= @form.inputs 'How to use this form:', :id => 'edit-help', :class => 'tab' do
  %ul
    %li
      %p
        %strong
          It is strongly recommended that you have Javascript enabled
          and, if using Internet Explorer, upgrade to version 8 or
          newer.
    %li
      %p
        You can move between tabs and enter information in any
        order. In addition, you can save this form at any time and
        return to it later. Please note however that once you have
        submitted a study, you will no longer be able to edit it.
    %li
      %p
        Your changes are saved to the server whenever you select a tab
        or press the
        %em 'Apply'
        or
        %em 'Show Summary'
        button at the bottom of the page. Files you attach to the
        study are also uploaded to the server at that point.
    %li
      %p
        %span{ :style => "color: red;" } Red text
        indicates required information that has not yet been
        provided or input that does not look valid. You will not be
        able to submit before all red items are cleared.
    %li
      %p
        Some fields in this form are repeatable. With Javascript
        enabled, additional lines should appear automatically as
        needed. Alternatively, you can press
        %em 'Apply'
        to see the extra lines.
    %li
      %p
        Some fields offer lists of pre-defined answers via
        drop-down boxes. You can modify these once selected (for
        example to indicate which part of a study the answer applies
        to) or, if none fits, use your own words.
    %li
      %p
        Dates can be specified as a year, year and month, or full
        date and are normalized automatically once you hit
        %em 'Apply'.
        Examples:
        %tt '12 Oct 2003',
        %tt 'Sep 85',
        %tt '1867'.
    %li
      %p
        To delete a study, visit
        %em 'View Deposits'
        via the menu bar on the left.
