// Define some colours
$primary_color:         #994779;
$primary_darker:        $primary_color - #181818;
$link_color:            $primary_color - #222222;
$highlight_color:       #ffffcc;
$signal_color:          red;
$textfield_color:       #f0f0f0;
$textfield_dirty_color: #e8e8ff;

// ...and widths
$list_indent:     3em;
$paragraph_width: 40em;
$dfn_width:       13em;

// Macros for some trickier settings
@mixin shadowed($width, $blur, $color) {
    -moz-box-shadow:    $width $width $blur $color;
    -webkit-box-shadow: $width $width $blur $color;
    box-shadow:         $width $width $blur $color;
}

@mixin rounded($radius) {
    -moz-border-radius:    $radius;
    -webkit-border-radius: $radius;
    border-radius:         $radius;
}

@mixin opaque($value) {
  $percent: $value * 100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+ $percent +")";
  filter: alpha(opacity=$percent);
}


// Encapsulate everything nicely
#adapt {
    // The basics
    padding-bottom: 20px;

    ul {
	margin-right: $list_indent;
    }

    p {
	max-width: $paragraph_width;
    }

    // A floated div box
    .box {
	border: 1px solid #aaaaaa;
	background-color: #f8f8f8;
	float: left;
	padding: 1em;
    }

    // Needed to clear up after a .box
    .clear {
	margin: 0;
	padding: 0;
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
    }

    // Styling for forms with Adapt
    form.formtastic fieldset {
	padding-top: 0;

	p {
	    padding: 0.25em 0;
	    text-align: justify;
	    em {
		font-style: italic;
	    }
	}
	.inline-errors {
	    color: $signal_color;
	}
	ol li {
	    overflow: visible;
	    margin-bottom: 1em;
	    margin-top: -0.5em;
	    padding: 0.5em 0;
	    margin-left: 0;

	    label {
		display: block;
		float: none;
		font-style: italic;
		padding-right: 1em;
		padding-top: 0.2em;
		abbr {
		    color: $signal_color;
		}
	    }
	    p.inline-errors {
		color: $signal_color;
	    }
	}
	ol li.string, ol li.text {
	    input,textarea {
		border: 1px solid gray;
		padding: 2px;
		margin: 0;
		background-color: $textfield_color;
		font-family: monospace;
	    }
	    input.dirty,textarea.dirty {
		background-color: $textfield_dirty_color;
	    }
	    input, input[size], textarea, textarea[cols] {
		max-width: inherit;
	    }
	    textarea {
		overflow: auto;
	    }
	    input {
		overflow: hidden;
	    }
	}
	ol li.boolean, table td.boolean {
	    input {
		margin-top: 0.2em;
	    }
	    input.dirty {
		outline: 1px solid rgba(0, 0, 255, 0.5);
	    }
	    label {
		padding-left: 0;
		padding-right: 0;
	    }
	}
    }

    form.formtastic fieldset table {
	width: auto;
	margin: 1em 0;
	border: none;
	thead th {
	    background-color: inherit;
	}
	tbody tr {
	    border: 1px solid gray;
	}
	th {
	    padding: 3px 8px;
	    font-weight: normal;
	    font-style: italic;
	}
	td {
	    padding: 0 8px;
	}
	td.text, td.string {
	    border: solid gray 1px;
	    background-color: $textfield_color;
	    input, textarea {
		border: none;
		background-color: $textfield_color;
		font-family: monospace;
		margin: 0;
	    }
	}
	td.text {
	    padding: 5px;
	}
	td.string {
	    padding: 1px 0 0 0;
	}
	td.dirty {
	    background-color: $textfield_dirty_color;
	    input, textarea {
		background-color: $textfield_dirty_color;
	    }
	}
	p.inline-errors {
	    padding: 0;
	    margin: 0;
	}
    }

    form.formtastic fieldset.with-table {
	margin-bottom: 1em;
	overflow: visible;
	th {
	    padding-left: 0;
	}
	ol li {
	    margin: -1px 0 0 0;
	    padding: 0;
	    label, input {
		margin: 0;
		display: block;
		float: none;
		width: inherit;
		text-align: left;
	    }
	}
    }

    form.formtastic fieldset.inline {
	padding-top: 0pt;

	ol li {
	    display: inline;
	    float: left;
	    clear: none;
	    label, input, p {
		width: auto;
		display: inline;
		float: left;
	    }
	    p.inline-errors {
		margin: 0;
	    }
	    input {
		margin-right: 1em;
	    }
	}
    }

    form.formtastic fieldset.inline {
	ol li.boolean {
	    input {
		margin-right: 0.5em;
	    }
	    label {
		margin-right: 2em;
	    }
	}
    }

    form.formtastic fieldset.buttons {
	margin-top: 0;
	li {
	    margin-bottom: 0;
	}
    }

    // This is used for the study summary display
    .properties {
	ul {
	    position: relative;
	    list-style: none;
	    margin: 0;
	    padding: 0.6em 2em;
	    li {
		position: relative;
		left: $dfn_width;
		margin: 0;
		margin-right: $dfn_width;
		padding: 0.4em 0 0 0;
		max-width: 35em;
		dfn {
		    margin: 0;
		    padding: 0;
		    position: relative;
		    margin-left: -$dfn_width;
		    width: $dfn_width;
		    float: left;
		    color: #222222;
		    font-weight: bolder;
		    font-style: normal;
		}
		ul {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    li {
			position: relative;
			left: 0;
			margin: 0;
			padding: 0.2em 0 0 0;
		    }
		} 
	    }
	}
    }

    // How to style tables
    table {
	margin: 0;
	padding: 0;
	empty-cells: show;
	border: 1px solid;
	border-collapse: collapse;
	border-color: black;
	line-height: 135%;
	text-align: center;
	width: 100%;

	th {
	    border-style: solid;
	    border-width: 0 0 1px 0;
	    background-color: #f0f0f0;
	    padding: 5px 12px;
	    vertical-align: middle;
	    font-weight: bold;
	}

	td {
	    border-style: solid;
	    border-width: 1px 0 0 0;
	    border-color: #aaaaaa;
	    background-color: #ffffff;
	    padding: 5px 12px;
	    vertical-align: middle;
	    font-weight: normal;
	    p {
		margin: 0;
		text-align: left;
	    }
	}
    }

    // Styling for the tabs in the main study editing form
    .tab-container {
	display: inline;
	position: relative;
	margin: 0;
	padding: 0;
	fieldset.tab {
	    position: relative;
	    clear: both;
	    border: 1px solid #aaaaaa;
	    padding: 2em 3em;
	    overflow: auto;
	    margin-bottom: 5px;
	}
	ul.tab-index {
	    display: none;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    li.tab-entry {
		float: left;
		margin: 0 -1px -1px 0;
		a {
		    float: left;
		    display: block;
		    position: relative;
		    width: 10em;
		    margin: 0 auto;
		    font-weight: normal;
		    text-align: center;
		    text-decoration: none;
		    padding: 0;
		    border: solid #aaaaaa 1px;
		    background: #eeeeee;
		    color: black;
		    z-index: 1;
		    span {
			display: block;
			margin: -1px;
			padding: 3px 6px;
			background: no-repeat right top;
			background-image: url(../images/corner-eee.png)
		    }
		}
		a:hover {
		    background: #888888;
		    color: white;
		    span {
			background-image: url(../images/corner-888.png);
		    }
		}
		a.current-tab {
		    background: $highlight_color;
		    border-bottom-color: $highlight_color;
		    span {
			background-image: url(../images/corner-ffc.png);
		    }
		}
		a.current-tab:hover {
		    background: #f4ee99;
		    border-bottom-color: #f4ee99;
		    color: black;
		    span {
			background-image: url(../images/corner-f4ee99.png);
		    }
		}
		a.error,a.error:hover {
		    color: $signal_color;
		}
	    }
	} 
    }
}


// Dialog overlays
#adapt-overlay {
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    width: 100%;
    z-index: 100;

    .blanket {
	background-color: black;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	@include opaque(0.2);
	position: absolute;
	width: 100%;
    }
    .dialog {
	position: relative;
	margin: 200px auto;
	width: 250px;
	padding: 30px 80px;
	font-size: 120%;
	background-color: $highlight_color;
	@include rounded(10px);
	@include shadowed(3px, 4px, #404040);
	border: solid 1px #cccc66;
	.busy-indicator {
	    position: absolute;
	    left: 30px;
	    bottom: 25px;
	    width: 32px;
	    height: 32px;
	    background: url(../assets/ajax-loader.gif) no-repeat right;
	}
    } 
}

// Tooltips
#adapt-tooltip {
    width: 20em;
    background-color: $highlight_color;
    padding: 2px;
    border: 1px solid #cccccc;
    text-align: left;
    z-index: 10;
    @include rounded(3px);
    @include shadowed(2px, 3px, #808080);
}

// Pulldown menus
.adapt-choices, #adapt form.formtastic fieldset.adapt-choices {
    display:    block;
    background: white;
    margin-top: 2em;
    ol {
	border: 1px solid #404040;
    }
    legend {
	font-weight: bold;
    }
    li {
	list-style: none;
	margin: 0;
	padding: 2px 0.5em;
	border-bottom: 1px solid #e0e0e0;
    }
    li:last-child {
	border-bottom: none;
    }
}

.adapt-pulldown {
    margin-top: 0;
    margin-left: -1px;
    border: none;
    @include shadowed(3px, 4px, #808080);
    legend {
	display: none;
    }
    ol {
	max-height: 200px;
	overflow:   auto;
	padding-left: 0;
    }
    li:hover {
	background-color: $highlight_color;
    }
}


header .login {
    position: relative;
}

article {
    padding-left: 0;
}

section.main {
    margin-left: 40px;
}

.flash-notice, .flash-error, .flash-alert {
    position: absolute;
    right: 40px;
    padding: 5px 8px;
}

.flash-notice {
    background-color: $highlight_color;
    border: solid 1px #cccc66;
}

.flash-error, .flash-alert {
    background-color: #ffcccc;
    border: solid 1px #cc6666;
}

.formtastic {
    #enter_button, #register_button, #logout_button, #profile_button {
	text-decoration: none;
    }
}

#adapt {
    float: left;
    background: none;
    padding-bottom: 0;

    .tab-container fieldset.tab {
	border-bottom-width: 2px;
	margin-bottom: 12px;
    }

    .tab-container ul.tab-index li.tab-entry {
	margin-right: 0;
	a {
	    color: white;
	    background: #333;
	    border-color: #333;
	    border-right-color: #aaa;
	    border-width: 1px 1px 0 1px;
	    span {
		background-image: none;
	    }
	}
	a:hover {
	    color: white;
	    background: black;
	    border-color: black;
	    border-right-color: #aaa;
	    span {
		background-image: none;
	    }
	}
	a.current-tab {
	    color: black;
	    background: white;
	    border-color: white;
	    border-top-color: #aaa;
	    span {
		background-image: none;
	    }
	}
	a.current-tab:hover {
	    color: black;
	    background: #e8e8e8;
	    border-color: #e8e8e8;
	    border-top-color: #aaa;
	    span {
		background-image: none;
	    }
	}
	a {
	    outline: none;
	}
    }
    .tab-container ul.tab-index li.tab-entry:first-child {
	a.current-tab, a.current-tab:hover {
	    border-left-color: #aaa;
	}
    }
    .tab-container ul.tab-index li.tab-entry:last-child {
	a {
	    border-right-color: #333;
	}
	a:hover {
	    border-right-color: black;
	}
	a.current-tab, a.current-tab:hover {
	    border-right-color: #aaa;
	}
    }

    p {
	text-align: justify;
	margin: 0;
    }

    em {
	font-style: italic;
	em {
	    font-style: normal;
	}
    }

    strong {
	font-weight: bolder;
    }

    ul, ol {
	padding-left: 0;
    }

    ul li:last-child {
	padding-bottom: 0;
    }

    li {
	list-style: inherit;
	margin-top: 0.3em;
	margin-left: $list_indent;
    }

    dt {
	font-weight: bold;
	margin: 1em 0 0.5em 0;
    }

    dd {
	margin-left: $list_indent;
    }

    hr {
	height: 0;
	border: none;
	border-bottom: 1px solid gray;
	margin-right: 20%;
	padding-top: 1em;
    }

    dfn {
	font-style: italic;
    }

    tt {
	font-family: courier;
    }
}
