-#
  = javascript_include_tag 'jquery-1.4.2.min'
  = javascript_include_tag 'rails'

= javascript_include_tag 'jquery.tabs', 'jquery.tooltips', 'jquery.textarea-expander', 'jquery.choices', 'jquery.multifile', 'application', :cache => true
= yield :js
