%ul
  %li
    %p ADAPT
  - if user_signed_in?
    %li= link_to "View deposits", adapt_studies_path
    %li= link_to "Add study", new_adapt_study_path
    - if current_user.is_archivist
      %li= link_to "Mint DOI", new_adapt_doi_path
